---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto -  About me"
---
#page-wrap
	#main-content.clearfix
		#load-content
			.col.col-12.max-width-12.px3.py4
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							About Me
					.col.sm-col-12.md-col-4.lg-col-4
						%img{:src => "/images/jeff-avatar.jpg"}

					.col.sm-col-12.md-col-8.lg-col-8.px2
						%p I am a Toronto based UX / UI designer and front-end developer. I design and build software, websites, VR &amp; AR for your phone, your desktop, and the internet.
						%p Let’s work together.
						%a{:href=>"mailto:info@jeffkielman.com", :class=>"btn"} info@jeffkielman.com
						%p.pt1 or 416.357.0182
						.col.col-12.pt2
							%h6 Programs I use
							.col.col-6
								%ul.sm
									%li Sublime Text
									%li Sketch
									%li Xcode
									%li InVision
									%li Balsamiq
									%li Github
									%li Adobe Suite


							.col.col-6
								%ul.sm
									%li OmniGraffle
									%li Wordpress
									%li MAMP
									%li Mailchimp

						.col.col-12
							%h6.pt2  Languages &amp; Markup I work in
							.col.col-6
								%ul.sm
									%li HTML5
									%li CSS3
									%li SASS
									%li LESS
									%li Javascript
									%li jQuery
									%li AJAX

							.col.col-6
								%ul.sm
									%li Objective-C
									%li Swift
									%li PHP
									%li SQL
									%li Grunt/Gulp
