---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto -  About me"
---
#page-wrap
	#main-content.clearfix
		#load-content
			.col.col-12.max-width-12.px3.py4.bgblk
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							About Me
					.col.sm-col-12.md-col-4.lg-col-4
						%img{:src => "/images/jeff-avatar.jpg"}

					.col.sm-col-12.md-col-8.lg-col-8.px2
						%p I am a Toronto based UI / UX designer and front-end developer of websites, web apps, iOS applications and a variety of digital experiences. This includes products, websites, applications and augmented reality for many different clients.
						%p.py1 p. 416.357.0182
						%a{:href=>"mailto:info@info@jeffkielman.com", :class=>"btn"} Email Me
						.col.col-12.py2
							.col.col-6
								%ul
									%li Sublime Text
									%li Sketch
									%li Xcode
									%li InVision
									%li Balsamiq
									%li Github
									%li Adobe Suite


							.col.col-6
								%ul
									%li Apple iMovie
									%li Sketchup Pro
									%li Wordpress
									%li MAMP
									%li Mailchimp
						.col.col-12
							.col.col-6
								%ul
									%li HTML5
									%li CSS3
									%li SASS
									%li LESS
									%li Javascript
									%li jQuery
									%li AJAX

							.col.col-6
								%ul
									%li Objective-C
									%li Swift
									%li PHP
									%li SQL
									%li Grunt/Gulp
