---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto - Bloomberg AR "
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							Bloomberg Augmented Reality Ad
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li Design
							%li Development
						%h6.pt2 Team
						%ul.sm
							%li Colin O'Farrell
					.col.sm-col-12.md-col-8.lg-col-8
						Advertised in the
						%a{:href=>"https://ca.zinio.com/www/browse/issue.jsp?skuId=416317238#/", :class=>"btn", :alt=>"November 2014 issues of Bloomberg markets magazine"} November 2014 issues of Bloomberg markets magazine,
						we designed a traditional print ad that came to life when used with the Bloomberg iPad app. This created an augmented reality experience for the magazine’s user, providing insight on BMO’s 10-year outlook of the equity markets.
						%br
						%br
						%a{:href=>"https://www.bloomberg.com/mobile/marketsmagazine/", :class=>"btn", :alt=>"Download"} Download
					.col.col-6.p1.mt2
						%img{:src => "/images/bloombergar.png"}
					.col.col-6.p1.mt2
						%img{:src => "/images/bloombergar-2.png"}
					.col.col-6.p1
						%img{:src => "/images/bloombergar-3.png"}
					.col.col-6.p1
						%img{:src => "/images/bloombergar-4.png"}
			.col.sm-col-12.col-12
				.left.mx3.mb3.py3
					%a{:href=>"/fileticket", :alt=>"fileticket", :class =>"previous-project"}
						Previous
				.right.mx3.mb3.py3
					%a{:href=>"/peopleplacesthings", :alt=>"peopleplacesthings", :class =>"next-project"}
						Next

