---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto - BMO App Admin "
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							BMO CMS
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li UI &amp; UX Design
							%li Front-End Development
						%h6.pt2 Team
						%ul.sm
							%li Colin O'Farrell
							%li David Suma
							%li Amy Sun
					.col.sm-col-12.md-col-6.lg-col-6
						%p A content management system made to build white label solutions for the BMO Conference and Events teams. This contentmanagement system allows them to easily update and deploy customized apps.
					%img{:src => "/images/bmoappadmin.png"}
					%img{:src => "/images/bmocms.png"}
			.sm-col-12
				.left
					%a.mx3.py3{:href=>"benleggett", :alt=>"benleggett", :class =>"previous-project"}
						Previous
				.right
					%a.mx3.py3{:href=>"fileticket", :alt=>"fileticket", :class =>"next-project"}
						Next



