---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto - Cathy Allan "
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							Cathy Allan Ladieswear
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li Design
							%li Development
							%li Wordpress Development
					.col.sm-col-12.md-col-8.lg-col-8
						%p Cathy Allan Ladieswear is high-end fashion in the Kawarthas.
						%a{:href=>"http://www.cathyallan.ca/", :class=>"btn", :alt=>"View the site"} View the site
					%img{:class => "mt3", :src => "/images/cathyallan.png"}
					%img{:class => "mt3", :src => "/images/cathyallan-2.png"}
			.sm-col-12
				.left
					%a.mx3.py3{:href=>"bloomberg", :alt=>"bloomberg", :class =>"previous-project"}
						Previous
				.right
					%a.mx3.py3{:href=>"peopleplacesthings", :alt=>"peopleplacesthings", :class =>"next-project"}
						Next
