---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto - Fileticket "
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							Fileticket
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li Branding
							%li UI &amp; UX Design
							%li Front-End Development
							%li Stripe Integration
					.col.sm-col-12.md-col-8.lg-col-8
						%p
							%a{:href=>"http://www.ontariotraffictickets.com/traffic-tickets-toronto-scarborough/", :alt=>"Home"} Daniel Jenner
							From OTT Legal, hired me to design and build Fileticket. A web application used to speed up the process of disputing an Ontario Provincial Traffic Violation Ticket. The app uses a camera to capture an image of the ticket(s). The image is then sent to be processed and a court date is made. No hassle, paperless and easy to navigate.
					%img{:src => "/images/fileticket.png"}
					%img{:src => "/images/fileticket-2.png"}
					.col.sm-col-12.md-col-4.lg-col-4
						%img{:src => "/images/fileticket-detail.png"}
					.col.sm-col-12.md-col-4.lg-col-4
						%img{:src => "/images/fileticket-detail-2.png"}
					.col.sm-col-12.md-col-4.lg-col-4
						%img{:src => "/images/fileticket-detail-3.png"}
					%img{:src => "/images/fileticket-font.jpg"}
			.sm-col-12
				.left
					%a.mx3.py3{:href=>"bmocms", :alt=>"bmocms", :class =>"previous-project"}
						Previous
				.right
					%a.mx3.py3{:href=>"bloomberg", :alt=>"bloomberg", :class =>"next-project"}
						Next

