---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto -  BMO Global Metals & Mining App "
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							BMO Global Metals & Mining App
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li UI &amp; UX Design
							%li Front-End Development
						%h6.pt2 Team
						%ul.sm
							%li Colin O'Farrell
							%li David Suma
							%li Amy Sun
					.col.sm-col-12.md-col-8.lg-col-8
						%p In February, BMO Capital Markets organizes an event that brings together international mining companies (who have projects in need of funding) with investors whose capital provides the lifeblood for the mining industry.
						%p With over 1,000 clients coming together, BMO Capital Markets needs a technological solution to serve as an organizational tool for the 4 day event.
						%p The app contains the ability to:
						%ul
							%li Build personalized meeting schedules
							%li Submit questions during presentations
							%li Message other conference attendees
							%li Request and grant access rights to other members
							%li Real-time feed of industry news, sales commentary and conference updates
							%li Ability to download company presentations
						%br
					.col.col-6.p1.mt2
						%img{:src => "/images/gmm-03.jpg"}
					.col.col-6.p1.mt2
						%img{:src => "/images/gmm-04.jpg"}
						%br
						%br
					%img{:src => "/images/gmm.png"}
					%img{:src => "/images/gmm-2.png"}
			.sm-col-12
				.left.mx3.mb3.py3
				.right.mx3.mb3.py3
					%a{:href=>"/guidedawg", :alt=>"guidedawg", :class =>"next-project"}
						Next
