---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto -  Guide dawg iOS App"
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							Guide Dawg iOS
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li UI &amp; UX Design
							%li Front-End Development
						%h6.pt2 Team
						%ul.sm
							%li
								%a{:href=>"http://www.stuartadambrown.com/", :class=>"btn", :alt=>"View the site"} Stuart Adam Brown
					.col.sm-col-12.md-col-8.lg-col-8
						%p An iOS app made to find the nearest hot dawg stand when you need it most! All stands are located within a 5 km radius of the user. It's perfect for a late night eat.
						%a{:href=>"https://itunes.apple.com/us/app/guide-dawg-hungry-grilled/id985065207?ls=1&mt=8", :class=>"btn", :alt=>"View the site"} Download
					%img{:src => "/images/guidedawg-2.png"}
			.sm-col-12
				.left
					%a.mx3.py3{:href=>"gmm", :alt=>"gmm", :class =>"previous-project"}
						Previous
				.right
					%a.mx3.py3{:href=>"benleggett", :alt=>"benleggett", :class =>"next-project"}
						Next

