---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto "
---
#page-wrap
	#main-content.clearfix
		#load-content
			#mouse
				.clearfix
					.col.col-12.project.mt4
						.col.col-12
							.my3.max-width-4.mx-auto
								%a{:href=>"benleggett", :alt=>"Ben Leggett"}
									%img{:src => "/images/home-01.png"}
						.col.col-12
							.my3.max-width-4.mx-auto
								%a{:href=>"peopleplacesthings", :alt=>"PPT app"}
									%img{:src => "/images/home-02.png"}
						.col.col-12
							.my3.max-width-4.mx-auto
								%a{:href=>"fileticket", :alt=>"Fileticket Web app"}
									%img{:src => "/images/home-03.png"}
						.col.col-12
							.my3.max-width-4.mx-auto
								%a{:href=>"gmm", :alt=>"GMM"}
									%img{:src => "/images/home-04.png"}
						.col.col-12
							.my3.max-width-4.mx-auto
								%a{:href=>"rom", :alt=>"ROM"}
									%img{:src => "/images/home-05.png"}








