.clearfix
	.menu.collapse.fixed.white
		.block.white.bg-navy
			.sm-col-12.md-col-12.lg-col-12
				.col.sm-col-11.md-col-11.lg-col-11.pt3.pl3
					%a.title{:href=>"/", :alt=>"Home"}
						Jeff Kielman
						.role - Designer/Developer
				.sm-col.sm-col-1.md-col-1.lg-col-1.p3.pl3.right-align
					&nbsp;
					.nav-loader
						#span.beta.loading-text
							&sol;
				.sm-col.sm-col-12.sm-col-12.md-col-4.lg-col-4.pt3.pl3.pt3-sm Projects:
				.sm-col.sm-col-12.md-col-8.lg-col-8.pt3.pl3
					%nav
						%ul
							%li
								%a.title{:href=>"gmm", :alt=>"gmm"}
									GMM Conference
							%li
								%a.title{:href=>"guidedawg", :alt=>"guidedawg"}
									Guide dawg iOS
							%li
								%a.title{:href=>"benleggett", :alt=>"benleggett"}
									Ben Leggett Recordings
							%li
								%a.title{:href=>"bmocms", :alt=>"bmocms"}
									BMO CMS
							%li
								%a.title{:href=>"fileticket", :alt=>"fileticket"}
									Fileticket
							%li
								%a.title{:href=>"bloomberg", :alt=>"bloomberg"}
									Bloomberg AR
							%li
								%a.title{:href=>"cathyallan", :alt=>"cathyallan"}
									Cathy Allan Ladieswear
							%li
								%a.title{:href=>"peopleplacesthings", :alt=>"peopleplacesthings"}
									People. Places. Things. iOS
							%li
								%a.title{:href=>"rom", :alt=>"rom"}
									ROM Interactive Experience
				.col.sm-col-9.md-col-9.lg-col-9.p3
					%a{:href=>"about",:class=>"info" , :alt=>"About"} i
				.col.sm-col-3.md-col-3.lg-col-3.p3
					.close
			%footer.footer
				.sm-col.sm-col-12.md-col-4.lg-col-4.pl3.sm
					%a{:href=>"https://github.com/jkielman", :alt=>"Github"}Github
					%a{:href=>"https://dribbble.com/jeffkielman", :alt=>"Dribble"} Dribbble
					%a{:href=>"https://twitter.com/jeffkielman", :alt=>"twitter"}Twitter
					%a{:href=>"https://ca.linkedin.com/in/jeff-kielman-6a8b971a", :alt=>"LinkedIn"}LinkedIn
				.sm-col.sm-col-12.md-col-8.lg-col-8.pl3.sm  © Jeff Kielman

