---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto -  People. Places. Things. App"
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							People. Places. Things. iOS
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li UI &amp; UX Design
							%li Front-End Development
							%li iOS Development
						%h6.pt2 Team
						%ul.sm
							%li Andrew Hicks
							%li
								%a{:href=>"http://goykhman.ca/", :class=>"btn"} Gene Goykhman
					.col.sm-col-12.md-col-8.lg-col-8
						%p
							Currently, I am collaborating with a team on a geolocative storytelling app called People. Places. Things. I am assisting with its design, front-end development and iOS development.
						%a{:href=>"http://pptapp.io/", :class=>"btn", :alt=>"Request Beta"} Request Beta
						%br
						%br
					%img{:src => "/images/ppt.jpg"}
			.sm-col-12
				.left
					%a.mx3.py3{:href=>"cathyallan", :alt=>"cathyallan", :class =>"previous-project"}
						Previous
				.right
					%a.mx3.py3{:href=>"rom", :alt=>"rom", :class =>"next-project"}
						Next
