---
title: "jeffkielman.com — Design/Development"
description: "Designer & Developer living in Toronto -  Royal Ontario Museum"
---
#page-wrap
	#main-content.clearfix
		#load-content
			.max-width-12.py4.mx3
				.my4.max-width-3.mx-auto
					.col.col-12
						%h1
							Royal Ontario Museum Interactive Experience - Kirwin Interactive Gallery
					.col.sm-col-12.md-col-4.lg-col-4
						%h6 Roles
						%ul.sm
							%li UI &amp; UX Design
							%li Development
						%h6.pt2 Team
						%ul.sm
							%li Brian Boyle
					.col.sm-col-12.md-col-8.lg-col-8
						%p 3D interactive experience displaying the Royal Ontario Museum's Kirwin Collection.
					%img{:src => "/images/kirwin.png"}
					%img{:src => "/images/kirwin-2.png"}
					%img{:src => "/images/kirwin-3.jpg"}
					%img{:src => "/images/kirwin-4.jpg"}
					.sm-col-8.mx-auto.mt3
						%img{:src=>"/images/kirwin-rotate.gif"}
			.sm-col-12
				.left.mx3.mb3.py3
					%a.mx3.py3{:href=>"/peopleplacesthings", :alt=>"peopleplacesthings", :class =>"previous-project"}
						Previous
